<%- include("./partials/header") %>
<h1 class="display-3 text-center font-weight-bolder"><a href="/" class="brand"><i class="fab fa-redhat text-danger"></i>RedTell</a></h1>
<div class="reset-forgot-wraper text-center">
    <h2 class="mb-3">Ooops!</h2>
        <h1 class="mt-3 mb-3 text-danger numbers">404</h1>
        <h5>page not found</h5>
        <a href="/application"><i class="fas fa-home"></i> Go home</a>
    </div>
<%- include("./partials/footer") %>