<%- include("./partials/header") %>
<h1 class="mt-5 display-3 text-center font-weight-bolder"><a href="/" class="brand"><i class="fab fa-redhat text-danger"></i>RedTell</a></h1>
<div class="info-wraper">
    <h2 class="text-center mt-5">Comming soon...</h2>
    <a href="/application"><i class="fas fa-home"></i> Go home</a>
</div>
<%- include("./partials/footer") %>